article {
  padding: 1rem;
  color: #382b16;
  background-color: #fff4b8;
  border-radius: 8px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08);
}

h2 {
  margin: 0;
}

time {
  color: #5d4a22;
}

.action {
  text-align: right;
  margin: 0;
}

.action button {
  font: inherit;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: #f0c94a;
  color: #2f220d;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.action button:hover,
.action button:active {
  background-color: #e4b43b;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
}
