<app-header-component></app-header-component>
<main>
  <ul id="users">
     @for (user of users;track user.id) {
      <li><app-user-component [user]="user" (userSelected)="onSelectUser($event)" [selected]="user.id===selectedUserId" /></li>
    }

  <!--
    <li *ngFor="let user of users | slice: 0 : 10">
      <app-user-component [user]="user" (userSelected)="onSelectUser($event)" />
    </li> -->
  </ul>
  @if(selectedUserId!=='') {
  <app-task-component [name]="selectedUser!.name" [id]="selectedUser!.id"  />
  }
  @else {
    <p id="fallback"> pls select user</p>
  }
</main>
